.welcome {
    text-align: center;
}

@media screen and (min-width: 0) {
    .welcome {
        padding: 2.5rem 1rem;
    }
}

@media screen and (min-width: 768px) {
    .welcome {
        padding: 2.5rem;
    }
}